html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font: 16px sans-serif;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
}

.game {
  width: 800px;
  height: 600px;
  background: url(img/background1.png);
  -webkit-animation: scroll-background 5s linear infinite;
          animation: scroll-background 5s linear infinite;
  -webkit-box-shadow: 0 2px 10px #0000 0.2;
          box-shadow: 0 2px 10px #0000 0.2;
  position: relative;
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  color: white;
  padding: 20px 50px;
  -webkit-box-shadow: 0 2px 10px #0000 0.2;
          box-shadow: 0 2px 10px #0000 0.2;
  border-radius: 10px;
  text-align: center;
  -webkit-animation: pop-in 1s;
          animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  color: white;
  padding: 20px 50px;
  -webkit-box-shadow: 0 2px 10px #0000 0.2;
          box-shadow: 0 2px 10px #0000 0.2;
  border-radius: 10px;
  text-align: center;
  -webkit-animation: pop-in 1s;
          animation: pop-in 1s;
}

.btn {
  border: 2px solid #36bbf5;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px #0000 0.15;
          box-shadow: 0 2px #0000 0.15;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(49%, #fff), color-stop(50%, #f5f5f5), to(#eee));
  background: linear-gradient(to bottom, #fff 0%, #fff 49%, #f5f5f5 50%, #eee 100%);
  padding: 10px 40px;
  font: 14px;
}

@-webkit-keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=style.css.map */